<section class="sec sec03">
    <h2>{{ section.settings.title }}</h2>
    <div class="popular_product flex">
        {% assign product = all_products[section.settings.productA] %}
      <img src="{{product.featured_image.src | img_url: '3000x'}}" alt="" class="img">
      <div class="product__detail">
        <div class="product__detail__main">
          <h2><span>{{ product.title }}</span></h2>
          <p class="price">¥{{ product.price | money }}</p>
        </div>
        <div class="product__detail__text">
          <p>
            {{ product.content }}
          </p>
        </div>
        <div class="counter">
          <span><i class="fas fa-minus"></i></span>
          <span>1</span>
          <span><i class="fas fa-plus"></i></span>
        </div>

          {% render 'add_cart-btn' %}

        <a href="{{ product.handle }}" class="link__detail">詳細を見る</a>
      </div>
    </div>
  </section>

  {% schema %}
  {
      "name": "Toppage Product",
      "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Collections",
        "label": "Toppage Product Title"
      },
      {
              "type": "product",
              "id": "productA",
              "label": "Toppage_product"
          }
      ]
  }
  {% endschema %}